.aboutSection {
  background-color: #56e1ff;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.image {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.title {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
