.container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.memberTileCard {
  width: 20rem;
  text-align: center;
  background-color: #56e1ff;
  border: none;
  padding: 1rem;
}

.memberName {
  padding: 1rem;
  color: black;
  text-align: left;
  font-size: 2rem;
}
