.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50%;
  height: 50%;
  background-color: #547094;
  border: none;
  padding: 1rem;
  text-align: center;
}

.title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
