@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #01030d; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sectionTitle {
  color: black;
  font-family: 'Mali', cursive;
  font-weight: 500;
}

.centerText {
  text-align: center;
}

.titleColorWhite {
  color: white;
  font-family: 'Mali', cursive;
  font-weight: 500;
}

.textColor {
  color: black;
  font-family: 'Mali', cursive;
  font-weight: 400;
  font-size: 1.2rem;
}
